<div class="row">
  <div class="col-sm-2">
    
  </div>
  <div class="col-sm-8">
    <mat-grid-list cols="1" rowHeight="10:1">
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
                
            </mat-card-header>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>