<p>
  <mat-form-field appearance="outline">
    <mat-label>FirstName</mat-label>
    <input matInput placeholder="FirstName">
    <mat-icon matSuffix>person</mat-icon>
    <!--<mat-hint>FirstName</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>LastName</mat-label>
    <input matInput placeholder="LastName">
    <mat-icon matSuffix>person</mat-icon>
    <!--<mat-hint>FirstName</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>PhoneNumber</mat-label>
    <input matInput placeholder="PhoneNumber">
    <mat-icon matSuffix>phone</mat-icon>
    <!--<mat-hint>FirstName</mat-hint>-->
  </mat-form-field>
</p>