<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--<mat-icon id="close" (click)="ontoggle(drawer)">close</mat-icon>-->
          <mat-nav-list>
            <mat-list-item routerLink="/">
                <mat-icon>home</mat-icon> Home
            </mat-list-item>
            <mat-list-item routerLink="/patient/profile">
                <mat-icon>person</mat-icon> Profile
            </mat-list-item>
            <mat-list-item>
                <mat-icon>list</mat-icon> Doctors List
            </mat-list-item>
            <mat-list-item>
                <mat-icon>note</mat-icon> Medical Records
            </mat-list-item>
            <mat-list-item>
                <mat-icon>notifications</mat-icon> Notifications
            </mat-list-item>
          </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
     <button  type="button" id="menu" mat-button (click)="ontoggle(drawer)"> <mat-icon>menu</mat-icon>
        Menu
      </button>
    </div>
    <router-outlet></router-outlet>
  <mat-card style="margin:10%;text-align: center;">
      <mat-card-title>Hey Patient How u r feeling now</mat-card-title>
    </mat-card>
  </mat-drawer-container>
  