<div style="margin: 10%">
    <mat-card>
        <mat-card-title>Welcome to MediPac</mat-card-title>
        <mat-card-subtitle>Your health records are our responsibility</mat-card-subtitle>
    </mat-card>      
</div>
<div style="margin-left: 10%; margin-top: 10%; margin-right:10%">
    <h1>Choose one of the following options:</h1>
</div>
<div style="margin-left:10%">
    <span style="margin-left: 10%"><button type="button"  mat-raised-button
         routerLink = "/doctor">Doctor</button></span>
    <span style="margin-left: 10%"><button type="button" mat-raised-button 
        routerLink = "/patient">Patient</button></span>
    <!--<span style="margin-left: 10%"><button type="button"  mat-raised-button
        (click)="AddNewDoctorIDs()">Add Doctor Ids</button></span>
    <span style="margin-left: 10%"><button type="button"  mat-raised-button
        (click)="AddNewDoctorProfile()">Add DoctorProfile</button></span>        
    <span style="margin-left: 10%"><button type="button"  mat-raised-button
        (click)="AddNewPatientIDs()">Add new Patients</button></span>
    <span style="margin-left: 10%"><button type="button"  mat-raised-button
        (click)="AddnewPatientProfile()">Add Patient Profile</button></span>-->
</div>
